<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
            id="Local_Module::content_elements"
            title="Complaints"
            translate="title"
            module="Local_Module"
            sortOrder="10"
            parent="Magento_Backend::content"
            resource="Magento_Backend::admin"/>
        <add
            id="Local_Module::complaint"
            title="complaints"
            translate="title"
            module="Local_Module"
            sortOrder="0"
            parent="Local_Module::content_elements"
            action="local_module/complaint"
            resource="Magento_Backend::admin"/>
    </menu>
</config>
